body {
  background-image: url('/assets/background.jpg');
}

#logo img {
  width: 2em;
  height: 2em;
}

#caligraphy img {
  float: right;
}

#aboutMe {
  background-color: none;
  float: left;
  width: 80%;
  font-size: 22px;
  color: #3E3F3A;
}

#andrew {
  float: left;
  margin-right: 20px;
}
