#aboutMe 
  img#andrew(src='/assets/smallAndrew.png')
  p.
    Hello!!  My name is Andrew Trieu Dinh.  This section is about me, but it also
    about this blog.  While I am only partially philosophical, I am totally 
    passionate about technology and wholely eccentric!  This blog is for those
    like me and others who enjoy learning about technology and being philosophical 
    at times.  Of course philoteccentric can also means 'Centered around the 
    love for technology', which is a better interpretation, but I leave that 
    interpretation to you, of course.
  p.
    At first, I wanted to name the blog 'PhiloTechEmo' because this blog is really 
    about an attempt to bring together the three major parts that constitute
    human being, the holy trinity of the heart, the mind, and the stomach.  More
    specifically, I want to discuss technology and still have the freedom to be
    philosophical or to go into tangents as my feeling dictates (thus the Emo or
    Emotion part of the PhiloTechEmo).  At times I will be intellectual, at times
    philosophical, and at times emotional.  As English is not my native tongue, I 
    do apologize in advance for any grammatical mistakes.
  p. 
    It was the original intention of this blog to be a multi-user blog for anyone
    to come and create their own blogs.  In that aspect, it would be more like a
    blogging system.  However, I quickly decided against that and want to make it
    more of a multi-user family blogs so my family members can come and blog all
    they want here.  
  p.
    Also, I want to issue a disclaimer that while this blog is kept mostly PG-13, 
    the emotional part of me sometimes takes over and my writing could be 
    interpreted as being rude or offensive to some.  Please do your own moderation
    and tune out when necessary.
  p.
    Thank you!
    
    
