h2 Welcome to Philoteccentric!! 
h4 Here we discuss philosophy, technology, and a little of everything else.

table#blogList.table.table-striped(ng-repeat= 'blog in afBlogs | orderBy:blogOrder')
  tbody
    tr
      td: button.btn.btn-info.btn-xs(ng-click='editBlog(blog)') Edit
      td: button.btn.btn-danger.btn-xs(ng-click='deleteTask(blog)') Delete
      //- td {{task.title}}
      //- td {{task.dueDate | date: 'yyyy-MM-dd'}}
      //- td {{task.priority}}
      //- td: input(type='checkbox', ng-model='task.isComplete', ng-click='toggleComplete(task)')
      //- td {{task.createdAt | date:'yyyy-MM-dd'}}
