h2 Welcome to Philoteccentric!! 
h3 Here we discuss philosophy, technology, and a little of everything else.

table#blogList.table.table-striped(ng-repeat='user in afUsers')
  tbody(ng-repeat='blog in user.blogs')
    tr.success
      td.header {{blog.postDate | date:'dd-MMM-yyyy'}}:&nbsp;&nbsp;{{blog.title}} &nbsp; (by &nbsp;{{blog.author}})
    tr.warning
      td.blurb {{blog.blurb}}
