h2 Welcome to Philoteccentric!! 
h4 Here we discuss philosophy, technology, and a little of everything else.

table#blogList.table.table-striped(ng-repeat='blog in afBlogs')
  tbody
    tr
      td#blogDate {{blog.postDate | date:'dd-MMM-yyyy'}}
      td {{blog.title}} &nbsp; By: &nbsp;{{blog.author}}
    tr 
      td(colspan='2') {{blog.blurb}}
      //- td: button.btn.btn-info.btn-xs(ng-click='editBlog(blog)') Edit
      //- td: button.btn.btn-danger.btn-xs(ng-click='deleteBlog(blog)') Delete
