  
h2 Welcome to Philoteccentric!! 
h4 
  | Here we discuss philosophy, technology, and a little of everything else.  Click on the blurb of interest to see the full blog.
  | You can only edit or delete your own blogs once you are logged-in.
table.blogList.table.table-striped
  tbody(ng-repeat='blog in blogs')
    tr
      td.header {{blog.postDate | date:'yyyy-MMM-dd HH:mm.ss'}}:&nbsp;&nbsp;{{blog.title}} &nbsp; (by &nbsp;{{blog.author}})
      td: button.btn.btn-warning.btn-xs(ng-show='userUid === blog.userUid') Edit
      td: button.btn.btn-danger.btn-xs(ng-show='userUid === blog.userUid') Delete
    tr
      td.blurb(ng-click='displayFullBlog(blog, $index)') {{blog.blurb}}
