.row
  .col-xs-6.col-xs-offset-4
    table.blogList.table.table-striped
      thead
        tr
          th.header {{blog.postDate | date:'yyyy-MMM-dd HH:mm.ss'}}:&nbsp;&nbsp;{{blog.title}} &nbsp; (by &nbsp;{{blog.author}})
      tbody
        tr
          td
            //- marked.blurb 
              |# header
              | + item 1
              | + item 2
            marked.blurb '{{blog.body}}'
