.row
  .col-md-8.col-xs-offset-2
    table.blogList.table.table-striped
      thead
        tr
          th.header {{blog.postDate | date:'yyyy-MMM-dd HH:mm.ss'}}:&nbsp;&nbsp;{{blog.title}} &nbsp; (by &nbsp;{{blog.author}})
      tbody
        tr
          td
            md.blurb(ng-model='blog.body')
