h4 
  | (You can login using the email address 'hr@hr.com' and password 'testAddBlog' to play around.)

.row
  .col-md-4
    form
      .form-group
        label(for='email') Email
        input#email.form-control(type='email', name='email', ng-model='user.email')
      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name='password', ng-model='user.password')
      .form-group
        button.btn.btn-success(type='submit', ng-click='submit(user)', ng-show='name==="login"') Login
  .col-md-8
  
