
.row
  .col-md-5
    h3(ng-show='name==="addBlog"') Add a new blog:
    h3(ng-hide='name==="addBlog"') Edit an existing blog:
    form
      .form-group
        label(for='author') Author Name or Alias
        input#author.form-control(type='text', name='author', ng-model='blog.author')
    form  
      .form-group
        label(for='title') Blog Title
        input#title.form-control(type='text', name='title', ng-model='blog.title')
      .form-group
        label(for='tags') Tag Terms (separated by commas)
        input#tags.form-control(type='text', name='tags', ng-model='blog.tags')        
      .form-group
        label(for='body') Speak Your Mind:
        textarea#blogBody(name='body', cols='69%', rows='9', ng-model='blog.body') 
      .form-group
        button.btn.btn-success(ng-hide='blog.$id', ng-click='addBlog(blog)') Post Blog
        //- button.btn.btn-danger(ng-show='task.$id', ng-click='updateTask(task)') Update
  .col-md-5
    //- markdown#preview(markdown-model='blog.body')
    marked#preview
      {{'$scope.blog.body'}}
